//My color pallete
$mybackground:#212529;
$mywhite_txt: #FFFFFF;
$mywhite_bg: #F1FAFF;
$myhighlight1: #F0A500;
$myhighlight2: #41D8BF;


//Fonts
$myfont: 'Roboto', sans-serif;
$myfontweight_p: 300;
$myfontsize_p: 1.05rem;

//Border radius
$myradius_carousel: 0.5rem;
$myradius: 0.5rem;