@use "../abstracts/variables";

.mymain {
    height: 100%;
    display: flex;
    flex-direction: column;

    &__mydivider {
        width: 100%;
        height: 0.1rem;
        color: variables.$mywhite_txt;
        background-color: variables.$mywhite_txt;
    }
}

.mycontainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;

    &__title {
        display: flex;
        text-align: center;
        justify-content: center;
        color: variables.$mywhite_txt;
        font-family:variables.$myfont;
        font-size: 1.5rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    
    &__somos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 2rem;
    
        &--img {
            width: 100%;
            height: auto;
            display: flex;
            object-fit:contain;
            border-radius: variables.$myradius;
        }

        &--txt {
            color: variables.$mywhite_txt;
            display: flex;
            flex-direction: column;
            font-size: variables.$myfontsize_p;
            font-weight: variables.$myfontweight_p;
        }

        }
    &__contact {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 2rem;
        padding-bottom: 2rem;
    }

    &__feedback {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;

    &--subcontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    &--persona {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .75rem
    }
    &--txt {
        display: flex;
        color: variables.$mywhite_txt;
        font-style: italic;
        font-size: variables.$myfontsize_p;
        font-weight: variables.$myfontweight_p;
       
    }
    &--name {
        display: inline-block;
        color: variables.$myhighlight1;
        font-size: 1.3rem;
        font-weight: bold;
    }
    &--img {
        display: flex;
        border: variables.$myhighlight1 solid 2px;
        border-radius: 50%;
        width: 80px;
        height: 80px; /* Set a fixed width */
        object-fit:cover; /* This will ensure the image maintains its aspect ratio and does not stretch */
        
    }
    }

    &__descatados {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 2rem;
    }

    }
        
